- if statuses.blank?
  %p No conversation to show!
- else
  %ul#statuses
    - statuses.each do |status|
      %li.status{:id => "status_#{status.id}"}
        %ul.actions
          - unless @account.screen_name == status.from_user
            %li
              - form_tag app_user_account_retweets_path(@account), :class => "retweet_form", :id => "retweet_form_for-#{status.id}" do
                = hidden_field_tag 'status_id', status.id
                = link_to(content_tag(:span, "retweet"), app_user_account_retweets_path(@account), :class => "retweet", :rel => status.id, :title => "Retweet this tweet", :id => "retweet_link_for-#{status.id}")
            %li= link_to content_tag(:span, "reply"), '#', :class => 'reply', :rel => h("#{status.from_user}:#{h(status.id)}"), :title => "Reply to #{h status.from_user}"
          %li= link_to_twitter_status(content_tag(:span, "permalink"), status.id, status.from_user, :class => "permalink")
        
        .account_profile_card
          = link_to image_tag(status.profile_image_url), app_user_account_person_path(@account, status.from_user)
          = link_to content_tag(:span, "unfollow"), "javascript:alert('Sorry, you cannot unfollow this user!');", :class => "unfollow"
          = link_to content_tag(:span, "direct message"), '#', :class => 'dm', :rel => h(status.from_user), :title => "Direct Message #{h(status.from_user)}"
        
        = link_to h(status.from_user), app_user_account_person_path(@account, status.from_user), :class => "screen_name"
        
        %p.text= format_status(status, :text)

        .meta
          = link_to("#{time_ago_in_words(status.created_at)} ago", app_user_account_status_path(@account, status.id))
        %br.clear
