%h3 Sign in

- form_for :session, :url => session_path(:return_to => app_home_path), :html => { :class => "chunky" } do |form|
  
  %p
    = form.label :email
    %br
    = form.text_field :email
  
  %p
    = form.label :password
    %br
    = form.password_field :password
  
  %p
    = form.label :remember_me, "Remember me on this computer"
    = form.check_box :remember_me, :class => "checkbox"
  
  %p= link_to "Forgotten password?", new_password_path
  
  %p= form.submit "Sign in", :disable_with => "Signing in...", :class => "awesome blue large"