= render :partial => "app/searches/controls_new"

= content_area do
  %h3 Create new saved searches

  %p Please select the amount of searches you wish to create and input their respective titles.
  %p= select_tag :search_batch_count_selector, options_for_select((1..20).to_a.unshift(["-- please select amount --", ""]))

  - form_for(:search_batch, :url => app_user_account_search_batches_path(@account), :html => { :class => "chunky" }) do |form|
    - @fields_to_generate.times do
      %p= text_field_tag "titles[]"

    %p= form.submit "Create searches", :disable_with => "Creating searches...", :class => "awesome blue large"
