- form_tag app_user_account_friendships_path(@account), :class => "inline_follow_form follow_form_for-#{person.id}", :style => ("display:none" if following) do
  = hidden_field_tag 'search_id', @search.id if @search
  = hidden_field_tag 'user', h(person.screen_name)
  = link_to(content_tag(:span, "follow"), app_user_account_friendships_path(@account), :class => "inline_follow follow", :rel => person.id, :title => "Follow #{person.screen_name}")
