%h3 Sign up to Tweasier

%br.clear

#sign_up
  - form_for @user, :html => { :class => "extra_chunky" } do |form|
    = form.hidden_field :invitation_token
    %p Just provide us with a few details and we'll have you on your way.

    = form.error_messages :header_message => "Please check the following items:", :message => false
    
    %p
      = form.label :email
      %br
      = form.text_field :email
      %br
      %span.hint We will send a confirmation link to this email address, so make sure its active.
    
    %p
      = form.label :password
      %br
      = form.password_field :password
      %br
      %span.hint Please enter a password for your account.
    
    %p
      = form.label :password_confirmation, "Confirm password"
      %br
      = form.password_field :password_confirmation
      %br
      %span.hint And again to confirm it.
    
    %p
      = form.label :plan
      %br
      - @plans.each do |plan|
        %h4
          = form.radio_button :plan_id, plan.id, :checked => (params[:plan] == plan.id.to_s), :id => "plan_#{plan.name.underscore.downcase}"
          = form.label :plan_id, plan_and_price(plan)
        %p= plan.description
    
    %p= form.submit 'Sign up', :disable_with => 'Please wait...', :class => "awesome blue large"