#callout
  %h4 Making statistics easier!
  = link_to image_tag("front_end/graph_1.png"), "/images/front_end/graph_1.png", :rel => "facybox", :title => "Click to see a larger image"
  %h5 To the second breakdowns
  = link_to image_tag("front_end/buy_now.png", :class => "button"), sign_up_path
  %p With Tweasier, we show you the progress of growing your network as and when it happens. Get insightful analytics on your account - watch your numbers, clicks and content interest increase!
  %p= link_to "Read more...", features_path, :class => "more"
  = link_to image_tag("front_end/graph_2.png"), "/images/front_end/graph_2.png", :rel => "facybox", :title => "Click to see a larger image"
  = link_to image_tag("front_end/graph_3.png"), "/images/front_end/graph_3.png", :rel => "facybox", :title => "Click to see a larger image"
  %h5 Account and search statistics
  %p We show you how effective your searches are in finding you legitimate followers of interest.
  %p= link_to "Read more...", features_path, :class => "more"