#footer
  .inner
    .box
      - if signed_in?
        %h4 Tweasier
        %ul
          %li= link_to "Back to tweasier.com", home_path
          %li= link_to "About", about_path
          %li= link_to "FAQ", faq_path
          %li= link_to "Tips", tips_path
          %li= link_to "My Profile", app_home_path
          %li= link_to "Sign out", sign_out_path
      - else
        %h4 Features
        %ul
          %li= link_to "Twitter client", features_path
          %li= link_to "Spam filter", features_path
          %li= link_to "Analytics tool", features_path
          %li= link_to "Find followers", features_path
          %li= link_to "And more...", features_path
    
    .box
      %h4 Twitter
      %ul
        %li= link_to "Follow us on Twitter", Configuration.app.twitter_url
        
    .box
      %h4 Contact
      %ul
        %li= mail_to Configuration.email.info, "Email us", :encode => :hex
        %li= link_to "About", about_path
        %li= link_to "Blog", Configuration.blog.url
        %li= link_to "FAQ", faq_path
        %li= link_to "Privacy Policy", privacy_path
        %li= link_to "Cancellation &amp; Refunds", cancellation_path
    
    %br.clear
    %p &copy; 2010, Tweasier
