#welcome
  %h3 Welcome to Tweasier
  %p Welcome to Tweasier the Twitter app that helps to make the business of Twitter easier. At Tweasier we strongly believe in the power of online relationships and the development of those relationships.
  %p Our aim to reduce the amount of time it takes to use Twitter and to help you get the real benefits from using it on a day-to-day basis.
  %p Check out our full list of product features, or take the tour and if you are interested please feel free to give us a try.
  %p We are officially a spam free zone and guarantee all of our users 100% satisfaction or your money back.
  = link_to "Read more...", about_path, :class => "more"

#plans
  %h3 Plans
  - subscription_plans.each do |plan|
    .plan{:class => "#{"last" if plan.id == subscription_plans.last.id}"}
      %h4= plan.name
      %h5= "&pound;#{"%.2f" % plan.price} per month"
      %p= truncate(plan.description, :length => 100)
      = link_to "Read more...", plans_path, :class => "more"

%hr

%h3 Tweasier features
#features
  .feature.analytics
    %h4 Analytics dashboard
    %p Our statistics section provides more than 30 different types of Twitter data. Track what people are saying about you or your products!
    %p View your account statistics in a beautiful graphical format and then export all of that useful data into a spreadsheet.
    %p= link_to "Read more...", features_path, :class => "more"
  .feature.follow.no_margin
    %h4 Find friends and sort them
    %p Find the most interesting and influential people to follow based on keywords, happiness, location and much much more!
    %p Secure targeted friends for yours or even several Twitter accounts!
    %p= link_to "Read more...", features_path, :class => "more"
  .feature.client
    %h4 Twitter client
    %p Our Twitter client is packed with useful features including our influence rating which is revealed directly in your Twitter stream. You can read messages from your friends, tweet, direct message, favourite, unfollow and even shorten your URLs - all from our dedicated on-site Twitter client. 
    %p= link_to "Read more...", features_path, :class => "more"
  .feature.email.no_margin
    %h4 Email notifications
    %p Save time on Tweasier by receiving personalised email notifications informing you about your activity within the twittersphere and find out important information without even visiting our site.
    %p= link_to "Read more...", features_path, :class => "more"
  .feature.conversation
    %h4 Conversation tracking
    %p Track conversations between two people without the need for following them. Tweasier also saves you time by remembering those important conversations every time you log-in.
    %p= link_to "Read more...", features_path, :class => "more"
  .feature.more.no_margin
    %h4 And more
    %p Tweasier is packed full of features which are designed to make life a whole lot easier.
    %p= link_to "Read more...", features_path, :class => "more"

%br.clear
%hr

%h3 Latest blog posts

#blog_posts
  - @blog_feed.each do |item|
    .blog_post{:class => "#{"last" if item == @blog_feed.last}"}
      %h4= link_to item.title, item.link
      = truncate(item.description, :length => 200)
      %p= link_to "Read more...", item.link, :class => "more"

%br.clear
%br.clear
