= content_area do
  %h3 Edit my profile

  - form_for @user, :url => app_user_path, :html => { :method => :put, :class => "chunky" } do |form|
    = form.error_messages :header_message => "Please check the following:", :message => false
    
    %h4#emailpassword.breaker Email and Password
    %p
      = form.label :email
      %br
      = form.text_field :email
      %br
      %span.hint Your contact email address is the email address we will send daily/weekly digests to as well as important account notifications.

    %p
      = form.label :password
      %br
      = form.password_field :password
      %br
      %span.hint We require you to enter your password when changing your contact email as a security precaution.
    %p
      = form.label :password_confirmation, "Confirm password"
      %br
      = form.password_field :password_confirmation

    %p= form.submit 'Save details', :disable_with => 'Please wait...', :class => "awesome blue large"
  
  %h4#subscription.breaker Subscription
  %p
    = link_to "Click here to view or amend your subscription", app_user_subscription_path
    information.
  
  %h4#leave.breaker Leave Tweasier

  %p
    We would be sorry to see you leave! If you want to delete your account from Tweasier and cancel your subscription you can do so by clicking the button below. Please bear in mind that once you proceed with deleting your account we
    %strong CANNOT
    undo this action.
  
  - form_for(@user, :url => app_user_path, :html => { :method => :delete, :onsubmit => "return confirm('Are you sure you want to delete your account?! You cannot undo this!')" }) do |form|
    = form.submit "Leave Tweasier", :disable_with => "Leaving Tweasier...", :class => "awesome red large"

= render :partial => "sidebar"