#status_form_wrapper
  - form_tag app_user_account_statuses_path(@account), :method => :post, :id => "status_form" do
    %h4= label_tag("text", "Update your status")
    #countdown= Configuration.twitter.character_limit
    = text_area_tag 'text'
    = hidden_field_tag 'in_reply_to_status_id'
    = hidden_field_tag 'return_to', request.request_uri
    
    %ul.actions
      %li= link_to content_tag(:span, "Publish status"), "#", :id => "submit_status_form", :title => "Update status"
      %li= link_to content_tag(:span, "Send later"), from_status_app_user_account_scheduled_statuses_path(@account), :id => "create_scheduled_status", :title => "Send later"
      %li= link_to content_tag(:span, "Shorten links"), app_user_account_link_requests_path(@account), :class => "link_request", :title => "Shorten links" if @account.link_shortening_available?